<nav class="bg-emerald-700 py-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex-shrink-0">
        </div>
      <ul class="flex space-x-6">
        <li><a href="/" class="text-orange-600 hover:text-blue-800">Home</a></li>
        <li><a href="/Sales" class="text-orange-600 hover:text-blue-800">Sales</a></li>
        <li><a href="/quicksale" class="text-orange-600 hover:text-blue-800">QuickSale</a></li>
        <li><a href="/About" class="text-orange-600 hover:text-blue-800">About</a></li>
      </ul>
    </div>
  </nav>
  